.app {
    display: flex;
    flex-flow: row-reverse wrap;
}

.app .app-rules {
}

.app .right-pane {
    flex: 1;
    min-width: 8rem;
}

.right-pane .app-preview {
    min-width: 20rem;
    margin-right: 2em;
}

.app .app-actions {
    display: flex;
    flex-direction: column;
}


.rules {
    font-family: Helvetica, Arial, sans-serif;
}


.rules .rule-cell {
    display: flex;
    flex-flow: column nowrap;
}

.rule-cell .rule-main {
    padding-top: 1em;
    padding-bottom: 0.2em;
    display: flex;
    flex-flow: row nowrap;
}

.rule-cell .rule-extra {
    display: flex;
    flex-flow: row nowrap;
    margin-top: 0.17em;
}

.rule-main .rule-thumb {
    background-color: #f0f0f0;
    font-size: 3em;
    margin-right: 0.2em;
    padding-left: 0.2em;
    padding-right: 0.2em;
}

.rule-extra .rule-thumb {
    background-color: #f0f0f0;
    font-size: 1.5em;
    margin-right: 0.17em;
    padding-left: 0.1em;
    padding-right: 0.1em;
}


.app-actions .link {
    background-color: #f0f0f0;
    cursor: pointer;
    padding-left: 0.2em;
    padding-right: 0.2em;
}


.app-actions .row {
    display: flex;
    flex-flow: row;
    margin-bottom: 1em;
}

.app-actions .row > div {
    margin-right: 1em;
}


.app-actions .shorturl {
    display: none;
}

.app-actions .import, .imported {
    display: none;
}

.app-actions .import span {
    font-size: 1.5em;
    vertical-align: middle;
}

.app-actions .import .error {
    color: red;
    display: none;
    font-size: 1em;
    margin-left: 1em;
    margin-right: 1em;
}

.app-actions .import img {
    width: 1.5em;
    height: 1.5em;
    margin-right: 0.5em;
    vertical-align: middle;
}


.app-actions .imported span {
    vertical-align: middle;
}

.app-actions .imported img {
    width: 1em;
    height: 1em;
    margin-right: 0.5em;
    vertical-align: middle;
}


.app-preview .content {
}
