:root {
    color-scheme: light dark;
}


@supports (font: -apple-system-body) {
    :root { font: -apple-system-body; }
    button { font: -apple-system-body; }
}


body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: left;
    flex-flow: row-reverse wrap;
}


#wily {
    flex: 1;
    display: flex;
    flex-flow: column nowrap;
    min-width: 15em;
}


#settings {
    flex: 1;
    margin-right: 2em;
    min-width: 20em;
}


textarea, input[type="text"] {
    font-family: "Lucida Console", Monaco, monospace;
    font-size: inherit;
    display: block;
    width: 92%;
}


.menu input[type="checkbox"] {
    margin-right: 0.3rem;
}

.menu span {
    vertical-align: baseline;
}

.menu .menu-row {
    display: block;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}

.menu .menu-row-selected {
    background-color: #eee;
}

.menu-row > button {
    margin-left: 1rem;
}

.xlist {
    margin: 1em 0;
}

.xlist .site-list {
    height: 8em;
}

.site-list textarea {
    height: 92%;
    margin: 0.8em 0;
}


.details-title {
    font-size: 1.65em;
}

.details-descr {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

.details-actions {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.details-actions button {
    margin: 0 0.2rem;
}

.details-actions .confirm-delete {
    color: red;
    margin: 0.2rem 0;
}

.rules {
    max-height: 16em;
    overflow-y: scroll;
}

.rules .rule-cell {
    display: flex;
    flex-flow: column nowrap;
}

.rule-cell .rule-main {
    padding: 0.1em 0;
    display: flex;
    flex-flow: row nowrap;
}

.rule-cell .rule-extra {
    display: flex;
    flex-flow: row nowrap;
    margin-top: 0.17em;
}

.rule-thumb {
    background-color: #f0f0f0;
}

.rule-main .rule-thumb {
    font-size: 2em;
    margin-right: 0.2em;
    padding-left: 0.2em;
    padding-right: 0.2em;
}

.rule-extra .rule-thumb {
    font-size: 2em;
    margin-right: 0.17em;
    padding-left: 0.1em;
    padding-right: 0.1em;
}


.share .share-row {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-right: 1em;
}

.share .share-descr {
    width: 100%;
}

.share input[type="text"] {
    flex-grow: 1;
}


.preview {
    margin-top: 1em;
}

.preview label {
    font-size: 1rem;
    margin-right: 1rem;
}

.preview-actions {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.preview-actions button {
    margin: 0 0.2rem;
}


.title-editor {
    margin-bottom: 1em;
}

.title-editor input {
    display: block;
    font-size: 1.65em;
    width: 80%;
}


.rules-editor {
}

.rules-editor textarea {
    font-size: 1.5em;
    width: 92%;
    height: 14em;
}


.editor-info .status {
    color: red;
    margin: 1em 0;
}


@media (prefers-color-scheme: dark) {
    html { background-color: #202124; color: #9aa0a6; }
    a { color: #8ab4f8; }
    button { color: #8ab4f8; background-color: rgba(0,0,0,0); border: 1px solid #5f6368; border-radius: 0.3rem; }
    button > img {
        background-color: rgba(255, 255, 255, 0.45);
        padding: 0.1rem;
        border-radius: 0.2rem;
    }
    body, table, textarea { color: inherit; }
    textarea { background-color: inherit; }
    .details-actions .confirm-delete, .editor-info .status { color: #f88a8a; }
    .rule-thumb { background-color: #151618; }
    .menu .menu-row-selected { background-color: rgba(0,0,0,0.5); }
}
