
body {
    margin: 0;
    padding: 0;
}


.settings {
    display: flex;
}


.pane {
    margin: 0;
    padding: 0.5em;
}


.right-pane {
    width: 40em;
    overflow-x: scroll;
}


.menu {
    white-space: nowrap;
    border-right: 1px solid #ccc;
    max-width: 20em;
    max-height: 40em;
    overflow-x: scroll;
}


.menu input[type="checkbox"] {
    margin-right: 0.4em;
}

.menu span {
    vertical-align: middle;
}


.menu .menu-row {
    display: block;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}


.menu .menu-row-selected {
    background-color: #eee;
}


.menu-general {
    padding-top: 1em;
    padding-bottom: 1em;
    border-bottom: 1px solid #ccc;
}


.right-pane .details-descr {
    margin-bottom: 0.4em;
}


.right-pane .rules {
    max-height: 40em;
    overflow-y: scroll;
}

.rules .rule-cell {
    display: flex;
    flex-flow: column nowrap;
}

.rule-cell .rule-main {
    padding-top: 1em;
    padding-bottom: 0.2em;
    display: flex;
    flex-flow: row nowrap;
}

.rule-cell .rule-extra {
    display: flex;
    flex-flow: row nowrap;
    margin-top: 0.17em;
}

.rule-main .rule-thumb {
    background-color: #f0f0f0;
    font-size: 4em;
    margin-right: 0.2em;
    padding-left: 0.2em;
    padding-right: 0.2em;
}

.rule-extra .rule-thumb {
    background-color: #f0f0f0;
    font-size: 2em;
    margin-right: 0.17em;
    padding-left: 0.1em;
    padding-right: 0.1em;
}


.right-pane .site-list {
    height: 40em;
    overflow-y: scroll;
}


.site-list textarea {
    width: 100%;
    height: 100%;
}


.right-pane .title-editor {
    margin-bottom: 1em;
}


.title-editor input {
    display: block;
    width: 80%;
}


.right-pane .rules-editor {
    height: 40em;
    overflow-y: scroll;
}


.rules-editor textarea {
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 150%;
    width: 100%;
    height: 100%;
}


#details-actions {
    position: absolute;
    top: 0;
    right: 0;
    left: auto;
    padding: 1em;
}

#details-actions button {
    display: block;
    margin-bottom: 1em;
    margin-left: auto;
}

#details-actions .confirm-delete {
    color: red;
    margin-bottom: 1em;
}


.right-pane .share {
}


.share .share-row {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-right: 1em;
}


.share .share-descr {
    width: 100%;
}


.share input[type="text"] {
    flex-grow: 1;
}


#details .editor-info {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 30%;
    height: 70%;
    bottom: 1em;
    right: 1em;
}

.editor-info .preview {
    width: 100%;
    flex: 1;
    height: auto;
    margin-bottom: 2em;
    position: relative;
}

.preview textarea {
    width: 100%;
    height: 100%;
}

.preview button {
    position: absolute;
    top: -2em;
    right: 0.1em;
    margin-left: auto;
}

.editor-info .status {
    color: red;
    margin-bottom: 1em;
}
