:root {
    color-scheme: light dark;
}


@supports (font: -apple-system-body) {
    :root { font: -apple-system-body; }
    button { font: -apple-system-body; }
}


body {
    margin: 0;
}


table {
    border-collapse: collapse;
    width: 20em;
}


td, th {
    padding: 0;
}


th {
    padding-top: 0.4em;
    padding-bottom: 0.4em;
}


td {
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}


td label {
    display: block;
    width: 100%;
}


label.indent-1 {
    margin-left: 1em;
}


td input[type="checkbox"] {
    margin-right: 0.5em;
}


td input[type="radio"] {
    margin-right: 1em;
}


td button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    margin-bottom: 1em;
}


tfoot button {
    display: inline;
    margin: auto;
    width: auto;
}


button img {
    height: 0.8rem;
}


#open_translate {
    position: absolute;
    right: 0;
}


thead { background-color: #ddd; }
tfoot { background-color: #eee; }


@media (prefers-color-scheme: dark) {
    html { background-color: #202124; color: #9aa0a6; }
    button { color: #8ab4f8; background-color: rgba(0,0,0,0); border: 1px solid #5f6368; border-radius: 0.3rem; }
    button > img {
        background-color: rgba(255, 255, 255, 0.45);
        padding: 0.1rem;
        border-radius: 0.2rem;
        height: 0.6rem;
    }
    body, table{ color: inherit; }
    th { color: #e8eaed; text-align: center; }
    thead, tfoot { background-color: #151618; }
}
