

body {
    margin: 0;
}


table {
    border-collapse: collapse;
    width: 20em;
}


td, th {
    padding: 0;
}


th {
    padding-top: 0.4em;
    padding-bottom: 0.4em;
}


td {
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}


td > label {
    display: block;
    width: 100%;
}


td input[type="checkbox"] {
    margin-right: 0.5em;
}


td input[type="radio"] {
    margin-right: 1em;
}


td button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    width: 50%;
}


thead {
    background-color: #ddd;
}


tfoot {
    background-color: #eee;
}


tfoot td {
    vertical-align: middle;
}


tfoot button {
    display: inline;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    width: auto;
}
