:root {
    color-scheme: light dark;
}


@supports (font: -apple-system-body) {
    :root { font: -apple-system-body; }
    button { font: -apple-system-body; }
}


body {
    margin: 0;
    min-width: 20em;
}


.table {
    width: -webkit-fill-available;
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
}


.table .th {
    display: flex;
    justify-content: center;
    align-items: baseline;
    font-weight: bolder;
    padding: 0.4em 0 0.4em 0;
}


.table .tf {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bolder;
    padding: 0.4em 0 0.4em 0;
}


.table .tr {
    padding: 0.2em 0 0.2em 0;
}


#translit_tables > div {
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
}

#translit_tables label {
    margin: 0.1em 0 0.1em 0;
}


.table .ca {
    display: flex;
    justify-content: center;
    margin: 1em 0 1em 0;
}


label > * {
    vertical-align: middle;
}


label > input[type="checkbox"] {
    margin-right: 0.5em;
}


label > input[type="radio"] {
    margin-right: 0.5em;
}


button img {
    height: 0.8rem;
}


.table > .th { background-color: #ddd; }
.table > .tf { background-color: #eee; }


@media (prefers-color-scheme: dark) {
    html { background-color: #202124; color: #9aa0a6; }
    button { color: #8ab4f8; background-color: rgba(0,0,0,0); border: 1px solid #5f6368; border-radius: 0.3rem; }
    button > img {
        background-color: rgba(255, 255, 255, 0.45);
        padding: 0.1rem;
        border-radius: 0.2rem;
        height: 0.6rem;
    }
    body, .table { color: inherit; }
    .table > .th { color: #e8eaed; }
    .table > .th { background-color: #151618; }
    .table > .tf { background-color: #151618; }
}
